*,
*::before,
*::after {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Roboto+Slab:400,700&display=swap");

/* Custom Properties, update these for your own design */

:root {
  --ff-primary: "Lora", serif;
  --ff-secondary: "Roboto Slab", serif;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  /* --clr-accent: #16e0bd; */
  /* --clr-accent: #cceab9; */
  /* --clr-accent: #ade58d; */
  /* --clr-accent: #f5a6bd; */
  /* --clr-accent: #d7c9f1; */
  /* --clr-accent: #ee9783; */
  /* --clr-accent: #c1a9f7; */
  /* --clr-accent: #69d1ee; */
  --clr-accent: #69d1ee;
  --hover-color: #3cb7d8;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

/* General styles */

body {
  background: var(--clr-ligh);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
